version: '3.8'

services:
  ms-comp-client-person:
    image: your_docker_image:latest
    container_name: ms-comp-client-person
    ports:
      - "8080:8080"  # Asegúrate de que el puerto 8080 coincida con el puerto en el que tu aplicación está escuchando
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/DBNTTDATATECHNICALTESTLF
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=your_password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      - POSTGRES_DB=DBNTTDATATECHNICALTESTLF
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=your_password
    ports:
      - "5432:5432"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
